.bot-army{
    height: 65vh;
    margin: 1%;
    background-color:rgba(189, 253, 59, 0.976);
}
#bot-details {
   display: flex;
   padding: 3px;
  justify-content:space-around; 
}
select { 
  margin-left: 70%;
  padding: 10px;
  border-radius: 5px;
  width:20%;

}
#sort-btn{
  padding:10px;
  border-radius: 10px;
  border-color: chartreuse;
  margin-left: 40%;
  margin-top: 5px;
}
